@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>編輯商品資訊</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @*可以重構View,檔名及路徑要正確,Views => sSared => EditorTemplates => Product.cshtml*@
        @*@Html.EditorForModel()*@
        @Html.EditorFor(m => m)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
